		<script id="templateB" type="text/x-handlebars-template">

		  <div class="entry">
		    <h5>{{ elements.0.CAT1 }}</h5>
		    <a href="http://www.urbanoutfitters.com/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}">Mens Link</a>
		  </div>

		</script>